Source: pyhaystack
Maintainer: VRT Systems <support@vrt.com.au>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1



Package: python-pyhaystack
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-hszinc, python-tz,
 python-six, python-fysom, python-signalslot, python-semver
Description: Python Haystack Utility
 pyhaystack |build-status| |coverage| |docs| 
 ===========================================
 .
 Pyhaystack is a module that allow python programs to connect to a haystack server [project-haystack.org](http://www.project-haystack.org).
 .
 Actually, connection can be established with Niagara Platform running the nhaystack module.
 .
 It's a work in progress and actually, main goal is to connect to server and retrive histories to make numeric analysis. Eventually, other options will be implemented through the REST API.
 .
 For this to work with [Anaconda](http://continuum.io/downloads) IPython Notebook in Windows, be sure to use "python setup.py install" using the Anaconda Command Prompt in Windows.
 If not, module will be installed for System path python but won't work in the environment of Anaconda IPython Notebook.
 .
 Chat with us on |Gitter|
 .
 .. |build-status| image:: https://travis-ci.org/ChristianTremblay/pyhaystack.svg?branch=master
    :target: https://travis-ci.org/ChristianTremblay/pyhaystack
    :alt: Build status
 .
 .. |docs| image:: https://readthedocs.org/projects/pyhaystack/badge/?version=latest
    :target: http://pyhaystack.readthedocs.org/
